<h5>Ask a question</h5>
<form>
  <div class="form-group">
    {{input value=username id="username" type="text" placeholder="Your username" class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=category id="category" type="text" placeholder="Category" class="form-control"}}
  </div>
  <div class="form-group">
    {{input value=date id="date" type="text" placeholder="Today's Date: Ex. 2 October 2015" class="form-control"}}
  </div>
  <div class="form-group">
    {{textarea value=questionTitle id="questionTitle" type="text" placeholder="Enter your question here" class="form-control"}}
  </div>
  <button {{action 'saveQuestion'}} class="btn btn-warning">Submit a Hoot</button>
</form>
